* {
  box-sizing: border-box;
}

section {
  margin: 32px;
}
html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
h1 {
  word-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  line-height: 28px;
}
.techno {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 24px;
  text-decoration: underline;
}
.translation {
  color: gray;
  opacity: 0.8;
}
a {
  text-decoration: none;
}
