@import 'breakpoints.scss';
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.square {
  width: 100px;
  height: 100px;
  background-color: #ff7f50;
  margin: 8px;

  @include for-medium-up {
    background-color: #8a2be2;
  }
  @include for-large {
    background-color: #a61;
  }
  @include for-large-up {
    background-color: #c47;
  }
}

@media (orientation: landscape) {
  .container {
    display: flex;
  }
}
