* {
  box-sizing: border-box;
}

div {
  display: flex;
}
img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .big {
    display: none;
  }
}

@media screen and (min-width: 400px) {
  .small {
    display: none;
  }
}
