div > div {
  width: 100px;
  height: 100px;
  background: coral;
}
* {
  box-sizing: border-box;
}
.articles {
  display: flex;
}
.visible-text {
  display: none;
}
.cropped {
  visibility: hidden;
}
.both-scrolls {
  visibility: visible;
}
/* put your code here */
