div > div {
  width: 100px;
  height: 100px;
  background: coral;
}
* {
  box-sizing: border-box;
}
div > div:ntn-child(1) {
  display: none;
}
div > div:ntn-child(2) {
  visibility: hidden;
}
div > div:ntn-child(3) {
  visibility: visible;
}
/* put your code here */
