* {
  box-sizing: border-box;
}
h1 {
  display: flex;
  justify-content: center;
}
.article {
  background-color: bisque;
  width: 300px;
  margin: 8px;
  padding: 16px;
  /* flex-shrink: 1; */
  flex-grow: 1;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
}
