* {
  box-sizing: border-box;
}
/* .text {
  position: relative;
} */
div.text {
  margin: 16px;
  border-bottom: 1px dotted black;
  display: inline-block;
  position: relative;
}
span.tooltip {
  background-color: grey;
  color: white;
  padding: 8px;
  position: absolute;
  bottom: -40px;
  border-radius: 4px;
  display: block;
}
