* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header {
  height: 3em;
  padding: 0 1em 0 1em;
  background-color: #eee;
  display: flex;
}

.button {
  background-color: none;
  cursor: pointer;
  font-size: 2em;
  outline: none;
  border-style: none;
  justify-content: center;
}

.navigation {
  padding: 0;
}

.nav-list-item {
  width: 20%;
  list-style-type: none;
  padding: 0.5em;
  background-color: #808080;
  color: white;
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nav-list-link {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

.fa-solid fa-bars {
  display: block;
}
@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .button {
    display: none;
  }
}
