header {
  background-color: #006400;
}
.menu {
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 3em;
  position: relative;
  cursor: pointer;
  height: 3em;

  &__item {
    padding: 8px;
    height: 3em;
  }
  &__item:hover {
    background-color: #9acd32;
  }
  &__item-text {
    color: white;
  }
  &__item_active span {
    color: yellow;
  }
}
.menu:hover .submenu {
  display: block;
}
.submenu {
  display: inline-block;
  z-index: 1;
  min-width: 120px;
  margin: 0;
  padding: 0;
  background-color: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  list-style-type: none;
  display: none;
  position: absolute;

  &__item {
    padding: 8px;
  }
  &__item:hover {
    color: black;
  }
}
