* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #555;
}
body {
  /* width: 600px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
}
.header {
  color: white;
  text-align: center;
  background-image: linear-gradient(60deg, red, orange);
  /* display: flex; */
  /* justify-content: center; */
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  padding: 0.5em;
  clear: both;
}
.navigation,
.section,
.news {
  padding: 0.5em;
}
.navigation {
  width: 20%;
}
.section {
  width: 60%;
  font-size: 1.25em;
}
.css-units {
  line-height: 1.75em;
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125rem;
  font-weight: 700;
}
.news {
  width: 20%;
}
.section__header {
  font-size: 5%;
  text-align: center;
}
.nav-list {
  padding: 0;
  list-style-type: none;
}
.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a {
  text-decoration: none;
  color: white;
}
