li {
  margin-bottom: 16px;
}
ul > li:first-child > span {
  background-color: red;
  color: white;
}
li:last-of-type > span {
  background-color: black;
  color: white;
}
li:nth-child(even) > span {
  margin-left: 16px;
}
.paragraphsn:th-of-type > div {
  background-color: grey;
}
