.already-learned ol {
  background-color: green;
  color: white;
}
.to-be-learned ol {
  background-color: orange;
  color: white;
}
#special1 ~ code {
  background-color: orange;
}
.to-be-learned code {
  background-color: green;
}
#special1 + h4 > code {
  border: 2px solid blue;
}
#special1 ~ li {
  font-size: 24;
}
