* {
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.spinner {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spinner-text {
  font-size: 16px;
  text-transform: uppercase;
  font-family: monospace;
  animation: blinking infinite linear 2s;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.circle {
  width: 50px;
  height: 50px;
  border-top: 4px solid black;
  border-bottom: 4px solid lightgray;
  border-left: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-radius: 30px;
  margin-bottom: 0px 8px 0px 0px;
  animation: spinning 2s linear infinite;
}
@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(380deg);
  }
}
