* {
  box-sizing: border-box;
}

.articles {
  display: flex;
}

div > div {
  height: 100px;
  width: 150px;
  background-color: beige;
  margin: 16px;
  display: flex;
  cursor: all-scroll;
}
/* .visible-text {

} */
.cropped {
  overflow: hidden;
}
.both-scrolls {
  overflow: scroll;
}
.vertical-scroll {
  overflow-y: scroll;
}
