* {
  box-sizing: border-box;
}

.header {
  background-color: darkturquoise;
  line-height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.nav-list {
  margin: 0;
}
.nav-item {
  /* display: inline-block; */
  float: left;
  margin-left: 16px;
  height: 40px;
  color: white;
  /* line-height: center; */
  list-style: none;
}
.content {
  background-color: beige;
  height: 5000px;
}
.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
}
.ear {
  background-color: brown;
  width: 40px;
  height: 60px;
  position: relative;
  bottom: 60px;
}

.ear_right {
  float: right;
  left: 40px;
}
.ear_left {
  float: left;
  right: 40px;
}

.eye {
  background-color: gray;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  top: 80px;
  position: relative;
}
.eye_right {
  float: left;
}
.eye_left {
  float: right;
}
