* {
  box-sizing: border-box;
}
.block {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  border-radius: 4px;
  background-color: #faebd7;
  text-align: center;
  margin: auto;
  padding: 8px;
}
div {
  min-height: 200px;
}
.navigation {
  background-color: #ff7f50;
  display: flex;
  flex: 1;
}
.product {
  background-color: #006400;
  display: flex;
  flex: 1;
}
.news {
  background-color: #0ff;
  display: flex;
  flex: 1;
}
.base {
  width: 100%;
}
.main {
  display: flex;
  flex: 2;
}
@media screen and (min-width: 600px) {
  .main {
    display: flex;
  }
}
@media screen and (min-width: 900px) {
  .base {
    display: flex;
    justify-content: space-around;
  }
}
