li {
  margin-bottom: 16px;
}
ol {
  color: white;
  background-color: green;
}
ul {
  color: white;
  background-color: orange;
}
#special + li {
  border: 3px solid red;
}
#special ~ li {
  margin-left: 16px;
}
